@charset "utf-8";
/* CSS Document */

/* Large Blocking Elements Removal */
/* -------------------------------------------------------------------------- */

#UCFHBHeader, #header_container, #nav_container, #slate_container, .content-main-top, .content-end,
#footer_container, #sub_footer_container, iframe, .shadow, .noprint{
	display: none;
}

.grid td{
	border-bottom: 1px solid #333;
}

/*---------------------------------------------------GLOBAL SECTION----*/
body{
	margin:0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;
	background-color: #fff;
	font-size: 12px;
}

h1,h2,h3,h4,h5,h6{
	font-size: 12px;
	font-weight: bold;	
}

img{
	display: none;
}

a{
	color: #03F;
}

.large_list{
	padding: 0px;
	margin: 0px;
	list-style-type:none;	
}
.large_list li{
	font-size: 12px;
	border-bottom: 0px;
	padding: 0px;
}

.bullets{
	padding-left: 0px;
	background: none;	
}

.storyright, .storyleft{
	width: 100%;
}

/*---------------------------------------------------CONTENT SECTION----*/
#content_container{
	background: none;	
	font-size: 12px;
}

.content-main-body, .content-main-bottom, .content-2col-sep, .content-3col-sep{
	width: 100%;
	background: none;
	margin: 0px;
	padding: 0px;
}

.content-main{
	font-size: 12px;
	color: #000;
	background-color: #fff;
}

.content-main h1,.content-main h2, .content-main h3,.content-main h4{
	font-size: 100%;
	font-weight: bold;	
}

.content-3col-join-1, .content-3col-join-2, .content-3col-join-3,
.content-2col-join-1, .content-2col-join-2, 
.content-3col-sep-1, .content-3col-sep-2, .content-3col-sep-3, .content-3col-sep-main,.content-3col-sep-top,.content-3col-sep-bottom,.content-3col-sep-body,
.content-2col-sep-1, .content-2col-sep-2, .content-2col-sep-main, .content-2col-sep-top, .content-2col-sep-bottom, .content-2col-sep-body{
	width: 100%;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
}

.content-3col-join-1 h1, .content-3col-join-2 h1, .content-3col-join-3 h1,
.content-3col-sep-1 h1, .content-3col-sep-2 h1, .content-3col-sep-3 h1{
	font-size: 12px;
	font-weight: bold;
}

