@charset "utf-8";
/* CSS Document */

/*---------------------------------------------------------------------*/
/*------ADMIN PANEL THEME----------------------------------------------*/
/*---------------------------------------------------------------------*/

#header{
	position: relative;
	height: 4em;
}

#header_container{
	background-position: 0px 0px;
	background: #333 url('../images/bgs/admin.jpg') repeat;	
	border-bottom: 1px solid #ccc;
}

#title, #subtitle{
	width: auto;
	padding: 0px;
	font-family: 'Cambria', Georgia, serif;
	text-shadow: 0px 2px 3px #111;
}

#title{
	float: none;
	font-size: 4em;
	letter-spacing: -3px;
	position: absolute;
	bottom: 0px; left: 0px;
	height: 1em;
}

#title a{
	color: #fff;
	text-decoration: none;
}

#title a:hover{
	color: #fff;
	text-decoration: none;
}

#subtitle{
	font-family: Georgia, serif;
	font-size: 1.5em;
	letter-spacing: -1px;
	text-align: right;
	position: absolute;
	bottom: 0px; right: 0px;
	line-height: 1.1em;
}

#subtitle a{
	color: #eee;
	text-decoration: none;
}

#subtitle a:hover{
	color: #ccc;
	text-decoration: none;
}

#nav_container{
	background: #ccc url('https://assets.sdes.ucf.edu/images/bgs/barbar.png') repeat-x;
	height: 40px;
	clear: both;
}

#nav-under{
	width: 980px;
	height: 40px;
	margin: auto;
}

#nav-under li{
	display: inline;
	margin: 0px;
	padding: 0px;
}

#nav-under li a{
	color: #333;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.085em;
	font-weight: bold;
	padding: 12px 15px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav-under li a:hover{
	background: #fff;
	color: #000;
}

#slate_container{
	margin-top: 5px;
	margin-bottom: 10px;
}

#content_container{
	background: #333 url('../images/bgs/admin.jpg') repeat;	
	padding: 0px 0px 10px 0px;
	min-height: 650px;
}

.shadow{
	background: url('../images/shadow.png') repeat-x;
	background-position: 0px -5px;
	height: 10px;
	margin-bottom: 15px;
}

.content-main-top, .content-main-bottom, .content-main-body{
	width: 980px;
}

.content-main-top{
	height: 19px;
	background: url('../images/template/content-main-top-dark.png') no-repeat center bottom;
}

.content-main-bottom{
	height: 33px;
	background: url('../images/template/content-main-bottom-dark.png') no-repeat center top;
}

.content-main-body{
	background: url('../images/template/content-main-body-dark.png') repeat-y center top;
}

.content-main{
	padding: 5px 35px;
}

.content-end{
	padding: 5px 35px;	
	height: 20px;
}

.content-main .grid a{
	color: #426E8F;
}

.content-main .grid a:hover{
	color: #333;
}

#footer_container{
	background: none;
}

#sub_footer_container{
	background-position: 0px -4px;
}