@charset "utf-8";

/* UCF MAIN IT THEME */
/* Created by Jordan Rogers, June 2013 */

#header_container,
#content_container{
	background: url('../images/bgs/it.jpg') #333 center top repeat;
	background-size: 1920px 2200px;
}

#title, #subtitle{
	font-family: 'Cambria', Georgia, serif;
	text-shadow: 0px 2px 3px #111;
}

#title a, #subtitle a{
	color: #fff;
}

#title a:hover, #subtitle a:hover{
	color: #ddd;
}

#content_container{
	background-position: center -125px;
}

#nav_container{
	background: #fff url('../images/bgs/barbar.png') repeat-x;
}

.shadow{
	background-position: 0 -2px;
}

.content-main-top, .content-main-bottom{
	display: none;
}

.content-main-body{
	background: white;
	padding: 1em 1.8em;
	margin: 2em auto 4em auto;
	box-shadow: 0px 3px 5px 1px #333;
	font-family: Arial, Verdana, sans-serif;
}

.content-main div.hr,
.content-main div.top,
.content-main div.top-b,
.content-main .header{
	border-color: #aaa;
}

.content-end{
	padding: 0.5em 0;
	background: none;
}

@media only screen and (max-width: 945px){
	#nav_container{
		background: #eee;
	}

	.content-main-body{
		padding: 0;
	}

	.content-main,
	.content-end{
		padding: 1.5em;
	}
}