<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Remove WWW" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{C:2}/{R:1}" appendQueryString="true" redirectType="Permanent" />
          <serverVariables>
            <set name="C2" value="" replace="false" />
            <set name="C3" value="" replace="false" />
          </serverVariables>
        </rule>
        <rule name="Lower Case URLs" stopProcessing="true"> 
          <match url="[A-Z]" ignoreCase="false" /> 
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"> 
            <add input="{URL}" pattern="\.axd" negate="true" /> 
          </conditions> 
          <action type="Redirect" url="{ToLower:{URL}}" /> 
        </rule>
        <rule name="Trailing Slash" stopProcessing="true"> 
          <match url="^([A-Za-z0-9\-])+(.sdes.ucf.edu)([^/])*$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="\.axd$" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:0}/" redirectType="Permanent" />
        </rule> 
        <rule name="ID-Redirect-1" stopProcessing="true">
          <match url="^index\.php$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" />
        </rule>
        <rule name="ID-RedirectAlt-1" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" />
        </rule>
        <rule name="ID-Rewrite-1" stopProcessing="true">
          <match url="^([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?id={R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>